@use 'variables'as v;

// -----------------------------------
// Container
// -----------------------------------

.container {
  max-width: v.$base-width-pc;
  padding-inline: 16px;
  margin-inline: auto;
}

.inner-container {
  max-width: v.$width-main;
  margin-inline: auto;
}

// -----------------------------------
// 各セクションの余白
// -----------------------------------
// .header,
// .main,
// .footer {
//   padding-inline: 16px;
// }

// .main-container {
//   @include v.mq() {
//     padding-inline: 0;
//   }
// }

// .item-container {
//   @include v.mq() {
//     padding-inline: 16px;
//   }
// }