// 変数定義

//-----------------------------------
//Font
//------------------------------------

// Font Family
$f-main: "Raleway", sans-serif;

// root Size
$fz-root: 16;

// Font Size rem変換
@mixin rem($size) {
  font-size: calc(($size / $fz-root) * 1rem);
}

//line-heightをpxから算出
@mixin lh($font-size, $height) {
  line-height: calc($height / $font-size);
}


//-----------------------------------
//Color
//-----------------------------------
$c-white: #fff;
$c-black: #333;

//base
$c-main: #4b4b4b;
$c-gray: #c3c3c3;
$c-rightgray: #ecebeb;


//-----------------------------------
//Break Point
//-----------------------------------
$breakpoints: (
  sp: 'screen and (max-width: 767px)',
  pc: 'screen and (min-width: 768px)',
);


// -----------------------------------
// media query
// -----------------------------------
@mixin mq($bp: sp) {
  @media #{map-get($breakpoints, $bp)} {
    @content;
  }
}


//-----------------------------------
//Base Width
//-----------------------------------
$base-width-sp: 375px;
$base-width-pc: 1000px;


//-----------------------------------
//Contents Width
//-----------------------------------
$width-main: 800px;
$width-sp: 375px;

