@use '../variables'as v;

.header {
  background-color: v.$c-white;
  position: sticky;
  top: 0;

  .container {
    border-bottom: 1px solid #c3c3c3;

    @include v.mq() {
      border: none;
    }
  }

  &-container {
    padding-block: 46px 26px;
    display: grid;
    justify-items: center;
    row-gap: 36px;

    @include v.mq() {
      row-gap: 26px;
      padding-block: 36px 16px;
    }
  }

  h1 {
    line-height: 0;
  }

  &-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-menu {
    display: flex;
    column-gap: 14px;

    @include v.mq() {
      width: 100%;
      justify-content: space-between;
    }

    &-pc {
      @include v.mq() {
        display: none;
      }
    }
  }
}