@use '../variables'as v;

.item {
  &-img {
    margin-inline: auto;
  }

  &-description {
    @include v.rem(12);
    margin-bottom: 30px;
  }

  &-title {
    @include v.rem(16);
    padding-block: 20px;
    border-block: v.$c-gray solid 1px;
    margin-bottom: 20px;
  }

  &-text {
    @include v.lh(12, 22.8);
    margin-bottom: 25px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 8px;
  font-weight: 400;
}

thead {
  th:not(:last-child) {
    border-right: v.$c-gray 1px solid;
  }
}

tbody {
  tr {
    border-top: v.$c-gray 1px solid;
  }

  th {
    border-right: v.$c-gray 1px solid;
  }

}

.order {
  margin-bottom: 30px;

  table {
    margin-bottom: 20px;
  }

  tbody {
    th {
      width: 20%;
    }
  }

  select {
    border: v.$c-gray 1px solid;
    width: 100%;
    appearance: auto;
  }

  select::-ms-expand {
    display: block;
  }

  .button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$c-main;
    color: v.$c-white;
  }
}

.size {

  table,
  table td {
    border: v.$c-gray 1px solid;
  }

  th {
    background-color: v.$c-rightgray;
  }
}